.select {
	@apply relative w-max;

	> button {
		@apply flex items-center;

		> b {
			@apply mr-2 font-semibold;
		}

		> svg {
			@apply ml-4;
		}
	}

	> ul {
		@apply absolute right-0 z-20 w-max;
		top: calc(100% + 1rem);

		> li {
			@apply m-1.5 rounded-lg border border-solid border-emerald-300 px-5 py-1 text-center font-medium text-emerald-500 transition duration-300 ease-out;

			transform: translateX(100%);
			opacity: 0;
			animation: slideInRight 0.5s forwards;

			&:hover:not(&.active) {
				@apply bg-emerald-100;
			}

			&.active {
				@apply bg-emerald-100;
			}

			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
					animation-delay: 0.1s * $i;
				}
			}
		}
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}
