.select {
	@apply relative w-max;

	> button {
		@apply flex items-center;

		> b {
			@apply mr-2 font-semibold;
		}

		> svg {
			@apply ml-4;
		}
	}

	> ul {
		@apply absolute left-0 z-10 mt-2 w-max overflow-hidden rounded-md bg-white shadow-lg;
		top: calc(100% + 0.5rem);
		opacity: 0;
		transform-origin: top right;
		animation: fadeInScale 0.3s forwards;

		> li {
			@apply m-0 p-0;

			> button {
				@apply block w-full px-5 py-2 text-center font-medium text-black transition-colors duration-200 ease-out;
			}

			&.active > button {
				@apply bg-emerald-100 text-emerald-500;
			}

			&:not(.active) > button:hover {
				@apply bg-emerald-50;
			}
		}

		> li {
			opacity: 0;
			transform: translateY(-10px);
			animation: slideInRight 0.4s forwards;
		}

		/* Задержки для пунктов */
		@for $i from 1 through 10 {
			> li:nth-child(#{$i}) {
				animation-delay: #{0.05 * $i}s;
			}
		}
	}
}

@keyframes slideInRight {
	from {
		transform: translateY(-10px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeInScale {
	from {
		opacity: 0;
		// transform: scale(0.95);
	}
	to {
		opacity: 1;
		// transform: scale(1);
	}
}
