{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"arrowParens": "avoid",

	"tailwindConfig": "tailwind.config.ts",
	"tailwindAttributes": ["className"],

	"plugins": ["prettier-plugin-tailwindcss"]
}
