@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-x-hidden bg-gray-50 text-base text-black;
	font-family: var(--font-golos), sans-serif;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}
