.wrapper {
	@apply grid grid-cols-4 gap-10;

	.item {
		@apply rounded-lg bg-white p-6 shadow;

		transform: translateX(-100%);
		opacity: 0;
		animation: sligeInLeft 1s forwards;

		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
				animation-delay: 0.4s * $i;
			}
		}
	}

	> div {
		&:last-child {
			@apply text-2xl font-semibold;
		}
	}
}

.btns {
	@apply my-5 flex justify-center gap-5;
}

@keyframes sligeInLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}
